.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.env
README.md
.gitignore
Makefile
deploy_all.sh
deploy.sh
deploy_all.bat
stack.yml